.home {
  height: 500px;
  padding-top: 65px;
  width: 600px;
  margin: auto;
}

.cell-unknown {
  background-color: gray;
  color: black;
  text-align: center;
  user-select: none;
  font-size: xx-small;
}

.cell-clear {
  background-color: white;
  color: black;
  text-align: center;
  user-select: none;
  font-size: xx-small;
}

.cell-set {
  background-color: black;
  color: white;
  text-align: center;
  user-select: none;
  font-size: xx-small;
}

.button-set {
  background-color: black;
  color: white;
}

.button-clear {
  background-color: white;
  color: black;
}

.button-disabled {
  background-color: gray;
  color: black;
}
